body {
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;
    color: #999999;
}

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .recuadro-login {
            width: 20%;
            height: 65%;
            border: 2px solid #999999;
            background-color: #FEFFFD;
            box-shadow: 6px 7px 11px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 7px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 11px -2px rgba(0,0,0,0.75);

        }

            .container-img {
                height: 25%;
                background-image: url("login.png");
                background-repeat: no-repeat;
                background-position: bottom;
            }

            .container-form {
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                    .container-input {
                        width: 100%;
                        height: 60%;
                        margin: 5px 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                        label {
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 25px;
                            margin-bottom: 10px;
                        }

                        .mail {
                            width: 90%;
                            height: 65px;
                            border-radius: 5px 5px 0px 0px;
                            border: 2px solid #999999;
                            border-bottom: 1px;
                            padding: 0px 17px;
                            font-weight: bold;
                        }

                        .password {
                            width: 90%;
                            height: 65px;
                            border-radius: 0px 0px 5px 5px;
                            border: 2px solid #999999;
                            padding: 0px 17px;
                            font-weight: bold;
                        }

                    .container-button {
                        height: 35%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                        .enter {
                            width: 90%;
                            height: 65px;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            margin-top: 3px;
                            margin-bottom: 20px;
                            background-color: #020a5a;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            font-size: 15px;
                        }

                        .olvido {
                            width: 42%;
                            height: 25px;
                            font-size: 12px;
                            color: #999999;
                            background-color: white;
                            border: 2px solid #999999;
                            border-radius: 15px;
                            margin-bottom: 15px;
                        }
